.card-img-top {
  transition: transform 0.5s ease;
}

.card-img-top:hover {
  transform: scale(1.05);
}

@media(max-width:768px){

  .category-buttons {
    flex-direction: column; 
    align-items: center; 
  }

  .category-buttons button {
    width: 60%; 
  }

}